* {
    text-decoration: none;
}

.nav-bar {
    background-image: linear-gradient(black, #9B6BD6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 10px;
    margin: -10px;
}

.nav-div {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.logo p {
    color: #EEE6F5;
    font-size: larger;
    font-weight: bolder;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    margin-top: -12px;
    font-size: 12px;
    color: lightgray;
}

.nav-bar button {
    background-color: #724EC6;
    margin-left: 10px;
    border-radius: 7px;
    padding: 5px;
    width: 75px;
}

.nav-bar button a {
    color: #EEE6F5;
    font-weight: bold;
    font-size: 12px
}

.nav-bar img {
    height: 50px;
    border-radius: 10%;
}
  